<header class="header header-3">

  <div class="branding">
    <a routerLink="/">
      <clr-icon shape="vm"></clr-icon>
      <span class="title">WOW COOL</span>
    </a>
  </div>

  <div class="header-nav">
    <a routerLink="/dashboard/alpha"
       routerLinkActive="active"
       class="nav-link nav-text">
      dashboard α
    </a>
    <a routerLink="/dashboard/beta"
       routerLinkActive="active"
       class="nav-link nav-text">
      dashboard β
    </a>
  </div>

  <div class="header-actions">
    <a class="nav-link nav-text">
      {{ counter | async }}
    </a>
    <a class="nav-link nav-icon"
       (click)="onIncrement()">
      <clr-icon shape="plus"></clr-icon>
    </a>
    <a class="nav-link nav-icon"
       (click)="onDecrement()">
      <clr-icon shape="minus"></clr-icon>
    </a>
  </div>

</header>
